* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #131f33;
}

.timeline-area {
    margin: 90px auto;
    width: 360px;
    padding: 0 20px 0 30px;
    border-left: 2px solid #ccc;
}

div {
    background: #fff;
    padding: 10px 25px;
    border: 1px solid #ccc;
    height: 110px;
    margin-bottom: 20px;
    position: relative;
}


div:before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #000;
    border: 3px solid #ddd;
    display: block;
    position: absolute;
    top: 10px;
    left: -40px;
}
